.content {
	width: 80%;
	margin: 60px auto 70px;
}
.content .title {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 45px;
	text-align: center;
}
.content .text {
	white-space: pre-wrap;
	font-size:14px;
	color: rgb(51, 51, 51);
	line-height: 28px;
	font-family: "ArialMT", "Arial";
	letter-spacing: 1px
}