@media screen and (max-width: 480px) {
	html {
		overflow: hidden;
	}
	body {
		overflow: hidden;
	}
    #bannerDot {
    	display: none;
    	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    }
    #bannerContent .nextArrow {
    	width: 28px;
    	height: 28px;
    	right: 5%;
    	bottom: 5%;
    }
    #bannerContent .menuIcon {
    	background-image: url("../images/menu-icon-white.png");
    	background-size: cover;
    	width: 20px;
    	height: 20px;
    	position: absolute;
    	right: -5%;
		top: 30px;
	    -webkit-transition: all .3s ease 0s;
	    -moz-transition: all .3s ease 0s;
	    -ms-transition: all .3s ease 0s;
	    -o-transition: all .3s ease 0s;
	    transition: all .3s ease 0s;
    }
    #bannerContent .navList {
    	position: absolute;
		top: 55px;
		right:-12%;
		z-index: 15;
		padding: 10px 15px;
		background-color: #fff;
		width: 60px;
		display: none;
		border-radius: 3px
    }
    #bannerContent .navList li {
		height: 30px;
		line-height: 30px;
		text-align: center;
		font-size: 14px;
		box-sizing: border-box;
    }
    #bannerContent .navList li a {
    	color: #000
    }
    #bannerContent .navList li.listNow {
    	border-bottom:2px solid black;
    }
    #indexVideo {
    	display: none
    }
    #page_01 .opacity {
    	background-image: url("../images/photo_bg.jpg");
    	background-size: cover;
    }
    #page_01 .opacity .content h1 {
		font-size: 20px;
	}
	#page_01 .bigLogo {
		width: 200px;
		height: 200px
	}
	#page_02 .opacity .content h1 {
		font-size: 18px;
	}
	#page_02 .opacity .content h1 span{
		display: block;
	}
	#page_06 .content p {
		margin-bottom: 80px !important 
	}
	#bannerContent .content p {
		width: 200px !important;
		font-size:  16px !important
	}
	#bannerContent .content h1 {
		font-size: 24px;
	}
	.page .content .button .hideImg {
		display: none;
	}
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  	#bannerDot {
    	display: none
    }
    #bannerContent .nextArrow {
    	width: 56px;
    	height: 56px;
    	right: 5%;
    	bottom: 5%;
    }
    #page_01 .opacity .head .navList {
		position: absolute;
		right: 0px;
		top: 25px;
	}
	#page_01 .opacity .head .navList li{
		margin-left: 20px;
		float: left;
	}
	#page_01 .opacity .head .navList li a{
		font-size:16px;
		color:#FFFFFF;
		line-height: 30px;
		height: 30px;
		display: block;
	}
	#page_01 .bigLogo {
		width: 300px;
		height: 300px
	}
	#page_01 .opacity .head .navList li a.listNow {
		border-bottom: 2px solid white
	}
	#page_01 .opacity .head .navList li a:hover {
		border-bottom: 2px solid white;
	}
	#page_01 .opacity .content h1 {
		font-size: 40px;
	}
	#page_02 .opacity .content h1 {
		font-size: 32px;
	}
	#page_03 .content p {
		width: 350px !important
	}
	#bannerContent .content p {
		font-size:  20px
	}
	#bannerContent .content h1 {
		font-size: 40px;
	}
	.page .content .button .hideImg {
		display: none;
	}
	
}
@media screen and (min-width: 769px) {
    .nextArrow {
		width: 56px;
		height: 56px;
		top: 50%;
		right: 60px;
		margin-right: -28px;
	}
	#page_01 .opacity .head .navList {
		position: absolute;
		right: 0px;
		top: 25px;
	}
	#page_01 .opacity .head .navList li{
		margin-left: 50px;
		float: left;
	}
	#page_01 .opacity .head .navList li a{
		font-size:16px;
		color:#FFFFFF;
		line-height: 30px;
		height: 30px;
		display: block;
	}
	#page_01 .opacity .head .navList li a.listNow {
		border-bottom: 2px solid white
	}
	#page_01 .opacity .head .navList li a:hover {
		border-bottom: 2px solid white;
	}
	#page_01 .bigLogo {
		width: 500px;
		height: 500px
	}
	#page_01 .opacity .content h1 {
		font-size: 40px;
	}
	#page_02 .opacity .content h1 {
		font-size: 32px;
	}
	#bannerContent .content p {
		font-size:  20px
	}
	#bannerContent .content h1 {
		font-size: 40px;
	}
	.page .content .button .hideImg {
		width: 200px;
		height: 240px;
		background-color: #fff;
		border-radius: 5px;
		display: none;
		position: relative;
		left: 160px;
		top:-102px;
	}
	.page .content .button .hideImg img {
		width: 180px;
		height: 180px;
		margin: 10px;
	}
	.page .content .button .hideImg span {
 		color:black;
 		padding: 0 !important;
 		width: 200px;
 		height: 24px;
 		line-height: 24px;
 		font-size:16px;
 		text-align: center;
	}
	.page .content .button:hover .hideImg {
		display: block;
	}
}
#banner {
	height: 100%;
	overflow: hidden;
	color: #FFFFFF;
}
#banner #bannerContent {
	height: 100%;
	width: 100%;
	position: relative;
	top: 0px;
	transition: top ease-out 0.4s;
}
#bannerContent .otherOpacity .content h1 {
	opacity: 0
}
#bannerContent .otherOpacity .content p {
	opacity: 0
}
#bannerContent .otherOpacity .content .button {
	opacity: 0
}
#bannerContent .page .content h1{
	-webkit-transition: all 1.2s ease .3s;
	-moz-transition: all 1.2s ease .3s;
	-ms-transition: all 1.2s ease .3s;
	-o-transition: all 1.2s ease .3s;
	transition: all 1.2s ease .3s;
}
#bannerContent .page .content p {
	-webkit-transition: all 1.4s ease .6s;
	-moz-transition: all 1.4s ease .6s;
	-ms-transition: all 1.4s ease .6s;
	-o-transition: all 1.4s ease .6s;
	transition: all 1.4s ease .6s;
}
#bannerContent .page .content .button {
	-webkit-transition: all 1s ease 1s;
	-moz-transition: all 1s ease 1s;
	-ms-transition: all 1s ease 1s;
	-o-transition: all 1s ease 1s;
	transition: all 1s ease 1s;
}
.page {
	height: 100%;
	position: relative;
	overflow: hidden;
}
#bannerContent .nextArrow {
	background-size:cover;
	position: absolute;
	cursor: pointer;
	z-index: 5
}
#bannerContent .whiteArrow {
	background-image: url("../images/nextArrowWhite.png");
}
#bannerContent .blackArrow {
	background-image: url("../images/nextArrowBlack.svg");
}
/*#page_01 .opacity {
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.85);
}*/
#page_01 .opacity .head {
	height: 80px;
	width: 80%;
	position: absolute;
	left: 10%;
	z-index: 50
}
.opacity {
	height: 100%;
	position: relative;
}
#page_01 .opacity .head .leftLogo {
	width: 134px;
	height: 41px;
	background-image: url("../images/index_01_logo.png");
	background-size: cover;
	float: left;
	position: absolute;
	left: 20px;
	top: 20px;
}
#indexVideo {
	position: relative;
	width: 100%;
	z-index: 1
}
#page_01 .bigLogo {
	background-image: url("../images/index_big_logo.png");
	background-size: cover;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	z-index: 5
}
/*#page_01 {
	background: url("../images/index_01.jpg") center no-repeat; 
	background-size:cover;
}*/
/*#page_01 .opacity .content {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 600px;
	margin-left: -300px;
	margin-top: -60px;
}*/
/*#page_01 .opacity .content h1 {
	font-weight: 650;
	text-align: center;
}*/
#page_02 {
	background: url("../images/index_02.jpg") center no-repeat; 
	background-size:cover;
}
/*#page_02 .opacity{
	height: 100%;
	background: url("../images/index_02_01.png") center no-repeat; 
	background-size:cover;
}*/
#page_02 .opacity .content{
	position: absolute;
	top: 50%;
	left: 10%;
	width: 720px;
	margin-top: -112px;
}
#page_02 .opacity .content h1 {
	font-weight: 700;
	text-align: left;
	margin-top: 20px
}
#page_03 {
	background: url("../images/index_03.jpg") center no-repeat; 
	background-size:cover;
}
#page_03 .content {
	position: absolute;
	top: 50%;
	left: 10%;
	width: 720px;
	margin-top: -141px;
	color: #cb6a09
}
#page_03 .content  .button {
	border:1px solid #cb6a09 !important;
}
#bannerContent .content p {
	margin-top: 45px;
	margin-bottom: 75px;
	width: 530px;
	height: auto;
}
#bannerContent .content .button {
	width: 140px;
	height: 40px;
	font-size: 16px;
	border:1px solid #ffffff;
	border-radius: 5px;
	cursor: pointer;
}
#bannerContent .content .button span {
	display: inline-block;
	padding: 7px 38px;
}
#page_04 {
	background: url("../images/index_04.jpg") center no-repeat; 
	background-size:cover;
}
#page_04 .content {
	position: absolute;
	top: 50%;
	left: 10%;
	width: 720px;
	margin-top: -154px;
	color: #cb6a09
}
#page_04 .content  .button {
	border:1px solid #cb6a09 !important;
}
#page_05 {
	background: url("../images/index_05.jpg") center no-repeat; 
	background-size:cover;
}
#page_05 .content {
	position: absolute;
	top: 50%;
	left: 10%;
	width: 720px;
	margin-top: -149px;
}
#page_06 {
	background: url("../images/index_06.jpg") center no-repeat; 
	background-size:cover;
}
#page_06 .content {
	position: absolute;
	top: 50%;
	left: 10%;
	width: 720px;
	margin-top: -144px;
}
#page_06 .content p {
	margin-top: 40px;
	margin-bottom: 110px;
	font-size: 20px;
	width: 530px;
	height: 36px;
}
#page_07 {
	background: url("../images/index_07.jpg") center no-repeat; 
	background-size:cover;
}
#page_07 .content {
	position: absolute;
	top: 50%;
	left: 10%;
	width: 720px;
	margin-top: -160px;
}
#bannerDot {
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -41px;
}
#bannerDot li{
	background:#000;
	width:8px;
	height:8px;
	border-radius:100%;
	cursor: pointer;
	display: block;
	margin: 5px 0;
	
}
#bannerDot li.nowList {
	background:#fff;	
}
